# Ignore everything
*

# Don't ignore directories
!*/

!README.md
# Allow docker-compose.yml files recursively
!**/docker-compose.yml
!**/compose.yaml
!**/traefik.yml

# Don't ignore .gitignore itself
!.gitignore