services:
  postgresql:
    container_name: temporal-postgresql
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: temporal
      POSTGRES_USER: temporal
    image: postgres:${POSTGRESQL_VERSION}
    networks:
      - proxy-network
    # ports:
    #   - 5432:5432
    volumes:
      - temporal-postgresql-data:/var/lib/postgresql/data  # Named volume

  temporal:
    container_name: temporal
    restart: unless-stopped
    depends_on:
      - postgresql
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=temporal
      - POSTGRES_PWD=temporal
      - POSTGRES_SEEDS=postgresql
      - DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development-sql.yaml
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    image: temporalio/auto-setup:${TEMPORAL_VERSION}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.temporal.rule=Host(`temporal.desktop.madhur.co.in`)"
      - "traefik.http.routers.temporal.entrypoints=web"
      - "traefik.http.services.temporal.loadbalancer.server.port=7233"
      - "traefik.http.services.temporal.loadbalancer.server.scheme=h2c"
      - "traefik.docker.network=proxy-network"
      - "traefik.http.routers.temporal.middlewares=vpn-whitelist"
      - "traefik.http.middlewares.vpn-whitelist.ipwhitelist.sourcerange=10.42.42.0/24,192.168.1.0/24"
    networks:
      - proxy-network
    ports:
      - 7233:7233
    volumes:
      - ./dynamicconfig:/etc/temporal/config/dynamicconfig

  temporal-admin-tools:
    container_name: temporal-admin-tools
    restart: unless-stopped
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    image: temporalio/admin-tools:${TEMPORAL_ADMINTOOLS_VERSION}
    networks:
      - proxy-network
    stdin_open: true
    tty: true

  temporal-ui:
    container_name: temporal-ui
    restart: unless-stopped
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://temporal-ui.desktop.madhur.co.in
      - TEMPORAL_CSRF_COOKIE_INSECURE=true
    image: temporalio/ui:${TEMPORAL_UI_VERSION}
    networks:
      - proxy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.temporal-ui.rule=Host(`temporal-ui.desktop.madhur.co.in`)"
      - "traefik.http.routers.temporal-ui.entrypoints=web"
      - "traefik.http.services.temporal-ui.loadbalancer.server.port=8080"
      - "traefik.docker.network=proxy-network"
      - "traefik.http.routers.temporal-ui.middlewares=vpn-whitelist"
      - "traefik.http.middlewares.vpn-whitelist.ipwhitelist.sourcerange=10.42.42.0/24,192.168.1.0/24"


    # ports:
    #   - 8080:8080

# Add this at the bottom
volumes:
  temporal-postgresql-data:

networks:
  proxy-network:
    external: true